@using FeatureManagement.ExampleWeb.Views.Components.Weather
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master";
}

<div>
    <p>Hello World!</p>
</div>

@(await Component.InvokeAsync<WeatherViewComponent>())
