@using FeatureManagement.ExampleWeb.Views.Components.Weather
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}

<div>
    <p>Hello World!</p>
</div>

@(await Component.InvokeAsync<WeatherViewComponent>())